# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Student UI (ui_user) dependencies
ui_user/node_modules
ui_user/.pnp
ui_user/.pnp.js

# Student UI testing
ui_user/coverage

# Next.js
ui_user/.next/
ui_user/out/

# Student UI production
ui_user/build

# Admin UI (ui_admin) dependencies
ui_admin/node_modules
ui_admin/.pnp
ui_admin/.pnp.js

# Admin UI testing
ui_admin/coverage

ui_admin/.next/
ui_admin/out/

ui_admin/build

# Python
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/*.egg-info/
backend/dist/
backend/build/
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/

# Environment variables
.env
.env.local
.env*.local

# Application logs
backend.log
ui-user.log
ui-admin.log
frontend.log
admin.log
ui.userlog
ui.adminlog

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
ui_user/.vercel
ui_admin/.vercel

# typescript
ui_user/*.tsbuildinfo
ui_user/next-env.d.ts
ui_admin/*.tsbuildinfo
ui_admin/next-env.d.ts
